# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Logs
logs/
*.log

# Build
/dist
/build

# React
/dashboard/node_modules/
/dashboard/build/

# OS
Thumbs.db
Desktop.ini

# VSCode
.vscode/

# Others
*.sqlite
*.bak
*.tmp
